<h1>Tasks</h1>
<% @tasks.each do |task| %>
<% if task.completed == true %>
<input type="checkbox" checked disabled>
<% else %>
<input type="checkbox" disabled>
<% end %>
<%= link_to task.title, task_path(task) %>
<br>
<%= link_to "Remove #{task.title}", task_path(task), method: :delete, data: { confirm: "Are you sure?" }  %>

<% end %>
